@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--animate-*: initial;
	--aspect-*: initial;
	--blur-*: initial;
	--breakpoint-*: initial;
	/* --color-*: initial; */
	--container-*: initial;
	--default-*: initial;
	--drop-*: initial;
	--ease-*: initial;
	--font-*: initial;
	/* --font-weight-*: initial; */
	--inset-shadow-*: initial;
	--leading-*: initial;
	--perspective-*: initial;
	/* --radius-*: initial; */
	/* --shadow-*: initial; */
	/* --text-*: initial; */
	--tracking-*: initial;
}

.fi-date-range-picker {
    & .drp-calendar-day {
        @apply p-1.5 text-xs transition duration-75 flex items-center justify-center leading-none;

        &.is-disabled {
            @apply pointer-events-none opacity-50 cursor-not-allowed;
        }

        &:not(.is-disabled) {
            @apply cursor-pointer;
        }

        &.is-selected {
            @apply text-white bg-(--primary-600) dark:bg-(--primary-400);
        }

        &.is-in-range {
            @apply text-(--primary-700) bg-(--primary-100) dark:text-(--primary-300) dark:bg-(--primary-700)/30;
        }

        &.is-today:not(.is-in-range):not(.is-selected) {
            @apply font-semibold text-(--primary-600) dark:text-(--primary-400);
        }

        &.focused:not(.is-selected):not(.is-disabled) {
            @apply bg-(--gray-100) dark:bg-white/10;
        }

        &:not(.is-disabled):not(.is-selected):not(.is-in-range) {
            @apply hover:bg-(--gray-100) dark:hover:bg-(--gray-700);
        }
    }

    & .fi-date-range-time-label {
        @apply text-xs font-medium text-(--gray-500) dark:text-(--gray-400);
    }
}
